<header class="classic-header">
    <a href="{{ path('app_home') }}">
        <p class="logo">NetPrime <span>+</span></p>
    </a>
    {#<form class="searchbar" action="">
        <label for="search">Rechercher un film</label>
        <div class="search-container">
            <input placeholder="Exemple : Le voyage de Chihiro" type="text" name="search" id="search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>#}
</header>
<main>
    <div class="container">