{% extends 'base.html.twig' %}

{% block title %}NetPrime +{% endblock %}

{% block body %}
    {#{{ dump(allMovies) }}#}
    <header class="home-header">
        <h1 class="logo">NetPrime <span>+</span></h1>
        <p class="subtitle">Tous vos films, depuis votre canapé !</p>
    </header>
    <section class="home-section">
        <h2>Rechercher un film</h2>
        {{ component('SearchMovie') }}
    </section>
{% endblock %}
